.form__form-group {
    padding: 5px;
    width: 90%;
}
.form__form-control {
    border-bottom: 1px solid lighten($color: $primary, $amount: 30);
    border: 0;
    color: $secondary;
    font-size: 16px;
    height: 20px;
    padding-left: 20px;
    padding-right: 25px;
    transition: border-bottom .3s ease-in-out;
    width: 100%;

    &:focus {
        border-bottom: 1px solid $btn-primary;
        outline: none;
    }
}
.form__form-control:focus ~ i, .form__form-control:focus ~ .form-icon-eye i {
    color: $btn-primary;
    transition: all .3s ease;
}
.form__form-link {
    color: $secondary;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
        color: darken($color: $secondary, $amount: 10);
    }
}

.form__form-group-icon {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    position: relative;
}
.form-icon {
    position: absolute;
}
.form-icon-eye {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 20px;
}