.blogCreator__blog-no-content-container {
    align-items: center;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-in;

    & i {
        color: lighten($color: $primary, $amount: 30);
    }
}

.asideIsHidden {
    left: 300px;
}

.blogCreator__blog-no-content-title {
    color: lighten($color: $primary, $amount: 30);
    font-weight: bold;
}
